<div>
    <form class="form-horizontal no-margin-top" name="credentialForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientX509Ctrl">
        <div class="form-group">
            <label class="col-md-2 control-label" for="subjectdn"><span class="required">*</span>{{:: 'subjectdn' | translate}}</label>
            <kc-tooltip>{{:: 'subjectdn-tooltip' | translate}}</kc-tooltip>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="subjectdn" data-ng-model="client.attributes['x509.subjectdn']">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="subjectdnFormat"><span class="required">*</span>{{:: 'subjectdn-format' | translate}}</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="subjectdnFormat"
                            ng-model="client.attributes['x509.subjectdn.format']">
                        <option value="RFC2253" selected>X500Principal / RFC2253</option>
                        <option value="RFC1779">X500Principal / RFC1779</option>
                        <option value="CANONICAL">X500Principal / Canonical</option>
                        <option value="LEGACY">Subject DN Legacy</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'subjectdn-format-tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>
